.doc_back {
	line-height:20px;
	height:25px;
	background: #FFF;
	background: linear-gradient(to left, #FFF, #EFEFEF);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	position:inherit;
	margin:5px;
	float: left;
	padding-top:2px;
	border-bottom: ridge #000;
	display:inline-block;
}

.doc_half {
	width:310px;
	display:inline-block;
	float:left;
}

.doc_back:hover {
	background: linear-gradient(to left, #FFF, #CCC);
}
.doc_back img {
	padding: 2px 5px 0 5px;
	height:20px;
}

.doc_back img:hover {
	background:rgba(255,255,255, 0.1);
}

.doc_back strong {
	color:#000;
	font-weight:bold;
	font-size:12px;
	vertical-align: top;
}