@charset "utf-8";
/* CSS Document */

.catalog {
	width:280px;
	height:32px;	
	font-weight:bold;
	font-size:12px;
	display:inline-block;
	border:#CCC;
	padding: 5px 18px;
	background:#EEE;
	margin:0;
	}

.catalog img {
	width:32px;
	height:32px;
	margin-left:15px;
	float:left;
	vertical-align: middle;
	text-align:center;
}

.catalog_text {
	float:right;
	width:220px;
	margin:7px 0 0 0;
	color:#666;
}
.catalog:hover{
	background: rgba(9, 105, 165, 0.2);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}


.catalog:hover .catalog_text {
	color:#F00;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}


#content-prod {
	padding:10px 18px 20px 18px;
	margin:0 auto;
	margin-top:-20px;
	margin-bottom:-20px;
	background:#FFF;
	width: 944px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}

#content-prod hr {
	color:#E4E4E4;
}

.prod_pos {
	/*background:#0969a5;
	background: linear-gradient(to top, #FFF, #0969a5);*/
	width:230px;
	height:200px;
	float:left;
	display:block;
	margin:0 6px 15px 0;
	position: relative;
}

.prod_pos_head {
	padding: 2px;
	width: 220px;
	background:#EEE;
	height:20px;
}

.prod_pos_head h3{
	font-weight:bold;
	font-size:16px;
	color:#999;
}


.prod_pos_img {
	width: 220px;
	height:100px;
	margin:5px 5px 0 5px;
}

.prod_pos_img img {
	width: 210px;
	height:100px;
}

.prod_pos:hover img {
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transition: -moz-transform 0.5s ease-in-out;
	-o-transition: -o-transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.prod_pos:hover .prod_pos_head{
	background: rgba(9,105,165, 1);
	
}

.prod_pos:hover .prod_pos_bottom a {
	background: rgba(9,105,165, 1);
}

.prod_pos:hover .prod_pos_head h3 {
	color: #FFF;
}

.prod_pos:hover .prod_pos_head h4 {
	color: #000;
}

.prod_pos:hover .prod_pos_bottom p {
	color: #000;
}

.prod_pos_bottom {
	width:230px;
	background:#FFF;
	text-align:center;
}

.prod_pos_bottom h4 {
	color:#666;
	line-height:14px;
	font-size:14px;
	font-weight:bold;
}

.prod_pos_bottom p {
	color:#666;
	line-height:14px;
	font-size:12px;
	text-align:right;
	margin:5px 0;
}

.prod_pos_bottom a {
	background:#FFF;
	color:#FFF;
	float:right;
	padding:2px 10px;
	margin:0;
}

.prod_pos_bottom a:hover {
	-moz-text-shadow:0 0 1px #FFF;
	-webkit-text-shadow:0 0 1px #FFF;
	-o-text-shadow:0 0 1px #FFF;
	text-shadow:0 0 1px #FFF;
}

#prod_catalog {
	padding:20px 7px;
}

.youdisk {
	width:950px;
	border:0px;
	margin-left:10px;
}

#wrapper #page_index #content-price .post .entry .youdisk tr td {
	float: inherit;
	text-align: center;
	font-size:13px;
}
